<p-dialog [(visible)]="visible" [modal]="true" [closable]="true" [style]="{ width: '35rem', heigth: '25rem' }"
    (onHide)="close()" (onShow)="onDialogShow()" class="bodyDialog">
    <ng-template pTemplate="header">
        <h6 *ngIf="!isEdicion" class="margen">Nuevo Usuario</h6>
        <h6 *ngIf="isEdicion" class="margen">Editar datos de {{ administrador.nombre }}</h6>
    </ng-template>
    <ng-template pTemplate="content">
        <form [formGroup]="form">
            <div class="row d-flex">
                <div class="col-4 lbl">
                    <label for="nombre">Nombre: </label>
                </div>
                <div class="col-sm-8 inptSpace"><input pInputText id="nombre" formControlName="nombre" /></div>
            </div>
            <div class="row d-flex">
                <div class="col-4 lbl">
                    <label for="nombre">Usuario: </label>
                </div>
                <div class="col-sm-8 inptSpace"><input pInputText id="usuario" formControlName="usuario" /></div>
            </div>
            <div class="row d-flex">
                <div class="col-4 lbl">
                    <label for="nombre">Correo: </label>
                </div>
                <div class="col-sm-8 inptSpace"><input pInputText id="correo" formControlName="correo" /></div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button *ngIf="isEdicion" pButton label="Actualizar" (click)="editarAdmin()" severity="secondary"></button>
        <button *ngIf="!isEdicion" pButton label="Agregar" (click)="agregarAdmin()" severity="secondary"></button>
        <button pButton label="Cancelar" (click)="close()" severity="secondary"></button>
      </ng-template>
      <p-toast position="center"></p-toast>
</p-dialog>