<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '35rem', heigth: '25rem' }"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  class="bodyDialog"
>
  <ng-template pTemplate="header">
    <h6 *ngIf="!insertar" class="margen">{{ title + empresa.nombreEmpresa }}</h6>
    <h6 *ngIf="insertar" class="margen">Nueva Empresa</h6>
  </ng-template>

  <ng-template pTemplate="content">
    <style>
      .error-label {
        color: red;
        font-weight: bold;
      }
    </style>

    <form [formGroup]="formEmpresas">
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="nombreEmpresa">Nombre de Empresa: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" id="nombreEmpresa" formControlName="nombreEmpresa" />&nbsp;
          <span *ngIf="esCampoInvalido('nombreEmpresa')" class="text-danger">*</span>
        </div>
      </div>
  
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="alias">Alias: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" id="alias" formControlName="alias" (change)="onAliasChange($event)" />&nbsp;
          <span *ngIf="esCampoInvalido('alias')" class="text-danger">*</span>
        </div>
      </div>
  
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="url">Url de sitio: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" id="urlSitio" formControlName="urlSitio" />&nbsp;
          <span *ngIf="esCampoInvalido('urlSitio')" class="text-danger">*</span><span *ngIf="esCampoInvalido('usuario')" class="text-danger">*</span>
        </div>
      </div>
  
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="rfc">RFC: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" id="rfc" formControlName="rfc"  maxlength="13" />&nbsp;
          <span *ngIf="esCampoInvalido('rfc')" class="text-danger">*</span>
        </div>
      </div>
  
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="Licencia">Licencia: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <p-select [options]="licenciasDropdown" formControlName="idLicencia" optionValue="idLicencia"
            optionLabel="nombreLicencia" class="inptSize w-full md:w-70" placeholder="Selecciona una licencia" />&nbsp;
          <span *ngIf="esCampoInvalido('idLicencia')" class="text-danger">*</span>
        </div>
      </div>
  
      <div class="row inptSpace">
        <div class="col-sm-4">
          <label for="NombreAdmin">Nombre (del administrador): </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input pInputText class="inptSize" id="nombre" formControlName="nombre"/>&nbsp;
          <span *ngIf="esCampoInvalido('nombre')" class="text-danger">*</span>
        </div>
      </div>
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="APaterno">Apellido Paterno: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input
            pInputText
            id="ApellidoPaterno"
            class="inptSize"
            formControlName="apellidoPaterno"
          />&nbsp;
          <span *ngIf="esCampoInvalido('apellidoPaterno')" class="text-danger">*</span>
        </div>
      </div>
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="AMaterno"> Apellido Materno: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input
            pInputText
            id="ApellidoMaterno"
            class="inptSize"
            formControlName="apellidoMaterno"
          />&nbsp;
        </div>
      </div>
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="Usuario"> Usuario: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input
            pInputText
            id="Usuario"
            class="inptSize"
            formControlName="usuario"
          />
          &nbsp;
          <span *ngIf="esCampoInvalido('usuario')" class="text-danger">*</span>
        </div>
  
      </div>
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="Correo"> Correo: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <input
            pInputText
            id="Correo"
            class="inptSize"
            formControlName="correo"
          />&nbsp;
          <span *ngIf="esCampoInvalido('correo')" class="text-danger">*</span>
        </div>
      </div>
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="fInicio">Inicio: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <p-datepicker class="inptSize" formControlName="vInicio" [iconDisplay]="'input'" [showIcon]="true"
            inputId="icondisplay" dateFormat="dd/mm/yy" />
          <span *ngIf="esCampoInvalido('vInicio')" class="text-danger">*</span>
        </div>
      </div>
  
      <div class="row inptSpace">
        <div class="col-sm-4 lbl">
          <label for="fTerminacion">Terminación: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <p-datepicker class="inptSize" formControlName="vTerminacion" [iconDisplay]="'input'" [showIcon]="true"
            inputId="icondisplay" dateFormat="dd/mm/yy" />
          <span *ngIf="esCampoInvalido('vTerminacion')" class="text-danger">*</span>
        </div>
      </div>
      <div class="row inptSpace" *ngIf="!insertar">
        <div class="col-sm-4 lbl">
          <label for="Estatus"> Estatus: </label>
        </div>
        <div class="col-sm-8 inptSpace">
          <p-checkbox formControlName="activo" [binary]="true" />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-2">
          <label for="foto" class="form-label" style="margin-right: 50px;">Foto:</label>
        </div>
       
        <div class="col-sm-10 d-flex align-items-center justify-content-end" style="margin-left: -102px;">
          <ng-container *ngIf="!selectedFile && !selectedFileName">
            <input type="text" class="form-control form-control-sm me-2" placeholder="" disabled style="width: 140px; " />
            <button class="btn btn-sm btn-seleccionar" (click)="abrirInput()">Seleccionar</button>
            <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
          </ng-container>
          <ng-container *ngIf="selectedFile || selectedFileName">
            <div style="display: flex; align-items: center;">
              <div class="rounded-circle bg-success" style="width: 20px; height: 20px;"></div>
              <span class="me-3">{{ selectedFile?.name || selectedFileName }}</span>
              <button class="btn btn-link text-danger p-0 " (click)="removerFoto()">
                <span class="me-1">❌</span> Remover
              </button>
            </div>
          </ng-container>          
        </div>
      </div>
    </form>


  </ng-template>

  <ng-template pTemplate="footer">
    <button
      *ngIf="!insertar"
      pButton
      label="Actualizar"
      (click)="actualizaEmpresa()"
      severity="secondary"
    ></button>
    <button
      *ngIf="insertar"
      pButton
      label="Agregar"
      (click)="guardarEmpresa()"
      severity="secondary"
    ></button>
    <button
      pButton
      label="Cancelar"
      (click)="close()"
      severity="secondary"
    ></button>
  </ng-template>
</p-dialog>
