<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '35rem', heigth: '25rem' }"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  class="bodyDialog"
>
  <ng-template pTemplate="header">
    <h6 *ngIf="!insertar" class="margen">{{ title + empresa.nombreEmpresa }}</h6>
    <h6 *ngIf="insertar" class="margen">Nueva Empresa</h6>
  </ng-template>

  <ng-template pTemplate="content">
    <style>
      .error-label {
        color: red;
        font-weight: bold;
      }
    </style>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="nombreEmpresa">Nombre de Empresa: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input pInputText class="inptSize" id="nombreEmpresa" [(ngModel)]="empresa.nombreEmpresa" />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.nombreEmpresa)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="alias">Alias: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input pInputText class="inptSize" id="alias" [(ngModel)]="empresa.alias" (ngModelChange)="onAliasChange($event)" />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.alias)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="url">Url de sitio: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input pInputText class="inptSize" id="url" [(ngModel)]="empresa.urlSitio" />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.urlSitio)" class="text-danger">*</span><span *ngIf="esCampoInvalido(empresa.usuarioAdministrador)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="rfc">RFC: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input pInputText class="inptSize" id="rfc" [(ngModel)]="empresa.rfc" />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.rfc)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="Licencia">Licencia: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <p-select [options]="licenciasDropdown" [(ngModel)]="empresa.idLicencia" optionValue="idLicencia"
          optionLabel="nombreLicencia" class="inptSize w-full md:w-70" placeholder="Selecciona una licencia" />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.idLicencia)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="NombreAdmin">Nombre (del administrador): </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input pInputText class="inptSize" id="Nombre" [(ngModel)]="empresa.nombre" />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.nombre)" class="text-danger">*</span>
      </div>
    </div>
    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="APaterno">Apellido Paterno: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input
          pInputText
          id="ApellidoPaterno"
          class="inptSize"
          [(ngModel)]="empresa.apellidoPaterno"
        />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.apellidoPaterno)" class="text-danger">*</span>
      </div>
    </div>
    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="AMaterno"> Apellido Materno: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input
          pInputText
          id="ApellidoMaterno"
          class="inptSize"
          [(ngModel)]="empresa.apellidoMaterno"
        />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.apellidoMaterno)" class="text-danger">*</span>
      </div>
    </div>
    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="Usuario"> Usuario: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input
          pInputText
          id="Usuario"
          class="inptSize"
          [(ngModel)]="empresa.usuarioAdministrador"
          disabled
        />
        &nbsp;
        <span *ngIf="esCampoInvalido(empresa.usuarioAdministrador)" class="text-danger">*</span>
      </div>

    </div>
    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="Correo"> Correo: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input
          pInputText
          id="Correo"
          class="inptSize"
          [(ngModel)]="empresa.correoAdministrador"
        />&nbsp;
        <span *ngIf="esCampoInvalido(empresa.correoAdministrador)" class="text-danger">*</span>
      </div>
    </div>
    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="fInicio">Inicio: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <p-datepicker class="inptSize" [(ngModel)]="empresa.vInicio" [iconDisplay]="'input'" [showIcon]="true"
          inputId="icondisplay" dateFormat="dd/mm/yy" />
        <span *ngIf="esCampoInvalido(empresa.vInicio)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="fTerminacion">Terminación: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <p-datepicker class="inptSize" [(ngModel)]="empresa.vTerminacion" [iconDisplay]="'input'" [showIcon]="true"
          inputId="icondisplay" dateFormat="dd/mm/yy" />
        <span *ngIf="esCampoInvalido(empresa.vTerminacion)" class="text-danger">*</span>
      </div>
    </div>
    <div class="row inptSpace" *ngIf="!insertar">
      <div class="col-sm-4 lbl">
        <label for="Estatus"> Estatus: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <p-checkbox [(ngModel)]="empresaActiva" [binary]="true" />
      </div>
    </div>


  </ng-template>

  <ng-template pTemplate="footer">
    <button
      *ngIf="!insertar"
      pButton
      label="Actualizar"
      (click)="actualizaEmpresa()"
      severity="secondary"
    ></button>
    <button
      *ngIf="insertar"
      pButton
      label="Agregar"
      (click)="guardarEmpresa()"
      severity="secondary"
    ></button>
    <button
      pButton
      label="Cancelar"
      (click)="close()"
      severity="secondary"
    ></button>
  </ng-template>
</p-dialog>
