GO
/****** Object:  StoredProcedure [dbo].[F_Tenant_ObtenerEstadisticasUsoIA]    Script Date: 29/07/2025 04:14:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================================================
-- Author:		Misael Hernandez Villarreal
-- Create date: 2025-02-19
-- Description:	Obtiene toda la informacion de Stats relacionadas a Usuarios y Oportunidades por empresa
-- Update date: 2025-07-30
-- Description:	Obtiene toda la informacion de uso de ia por mes y anio
-- =======================================================================================================
ALTER PROCEDURE [dbo].[F_Tenant_ObtenerEstadisticasUsoIA]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.IdEmpresa,
        E.NombreEmpresa,
        YEAR(B.FechaPregunta) AS Anio,
        MONTH(B.FechaPregunta) AS Mes,
        SUM(B.CostoTotal) AS CostoTotalL,
        SUM(B.TokensEntrada) AS TokenEntrada,
        SUM(B.TokensSalida) AS TokenSalida
    FROM Empresas E
    INNER JOIN Usuarios U ON U.IdEmpresa = E.IdEmpresa
    INNER JOIN BitacoraPreguntas B ON B.IdUsuario = U.IdUsuario
    GROUP BY 
        E.IdEmpresa, 
        E.NombreEmpresa,
        YEAR(B.FechaPregunta),
        MONTH(B.FechaPregunta)
    ORDER BY 
        E.IdEmpresa,
        Anio,
        Mes
END
