<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '35rem', heigth: '25rem' }"
  (onHide)="close()"
  (onShow)="onDialogShow()"
  class="bodyDialog"
>
  <ng-template pTemplate="header">
    <h6 *ngIf="!insertar" class="margen">{{ title + licencia.nombreLicencia }}</h6>
    <h6 *ngIf="insertar" class="margen">Nueva Licencia</h6>
  </ng-template>

  <ng-template pTemplate="content">


    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="nombreEmpresa">Nombre de Licencia: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <input
          pInputText
          class="inptSize"
          id="nombreLicencia"
          [(ngModel)]="licencia.nombreLicencia"
        />&nbsp;
        <span *ngIf="esCampoInvalido(licencia.nombreLicencia)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="alias">Número Usuarios:</label>
      </div>
      <div class="col-sm-8 inptSpace">
        <p-inputnumber class="inptSize" inputId="integeronly" [(ngModel)]="licencia.cantidadUsuarios"></p-inputnumber>
        <span *ngIf="esCampoInvalido(licencia.cantidadUsuarios)" class="text-danger">*</span>
      </div>
    </div>

    <div class="row inptSpace">
      <div class="col-sm-4 lbl">
        <label for="url">Número Oportunidades: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <p-inputnumber class="inptSize" inputId="integeronly" [(ngModel)]="licencia.cantidadOportunidades"></p-inputnumber>
        <label *ngIf="esCampoInvalido(licencia.cantidadOportunidades)" class="text-danger">*</label>
      </div>
    </div>
    <div class="row inptSpace" *ngIf="!insertar">
      <div class="col-sm-4 lbl">
        <label for="Estatus"> Estatus: </label>
      </div>
      <div class="col-sm-8 inptSpace">
        <p-checkbox [(ngModel)]="licenciaActiva" [binary]="true" />
      </div>
    </div>



  </ng-template>

  <ng-template pTemplate="footer">
    <button
      *ngIf="!insertar"
      pButton
      label="Actualizar"
      (click)="actualizaLicencia()"
      severity="secondary"
    ></button>
    <button
      *ngIf="insertar"
      pButton
      label="Agregar"
      (click)="guardarLicencia()"
      severity="secondary"
    ></button>
    <button
      pButton
      label="Cancelar"
      (click)="close()"
      severity="secondary"
    ></button>
  </ng-template>
</p-dialog>
